@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Great+Vibes&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Sevillana&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Great+Vibes&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sevillana&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');

:root {
    --cor0: #BCBF60;
    --cor1: #A6A5A1;
    --cor2: #D9D8D7;
    --cor3: #404040;
    --cor4: #0D0D0D;

    --fonte1: "Open Sans", serif;
    --fonte2: "Geist Mono", monospace;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100vh;
    background-color: var(--cor1);

}

header {
    background-color: var(--cor1);
    color: var(--cor2);
    text-align: center;
    border: 2px solid var(--cor0);
}

header > h1 {
    padding: 50px 0px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 3vw;
}

a {
    color: var(--cor2);
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 1.5em;
    font-size: 1.8vw;
    font-family: var(--fonte1);
}

section > p {
    padding-bottom: 2em;
}

section > h2 {
    font-family: var(--fonte1);
    padding: 5px 0px;
}

section.sec {
    background-color: var(--cor2);
    padding-top: 250px ;
    padding-bottom: 250px;
    padding-right: 100px;
}

section.img {
    color: white;
    background-color: #ffffff60;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.571);
    background-size: cover;
    background-attachment: fixed ;

}

section.img > p {
    max-width: 450px;
    padding: 5px;
    background-color: #0000007f;
}

section.img > h2 {
    background-color: #0000007f;
    max-width: 450px;
    padding: 5px;
    text-align: left;
}

section#img01 {
    background-image: url(../img/background1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

section#img02 {
    background-image: url(../img/background2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}


footer {
    background-color: var(--cor4);
    color: var(--cor2);
    text-align: center;
    padding: 10px;
}